.sideBox {
  position: relative;
  height: 100vh;
  min-height: 600px;
}
.sideIcon {
  font-size: 24px;
}
.sideBox > li {
  color: #aaa;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.sideBox > li:hover {
  color: #ddd;
}
.sideBox > li:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
}
.iconBox {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fda;
  border-radius: 4px;
}
